name: Build and Deploy

on:
  push:
    branches-ignore:
      - 'renovate/**'
  pull_request:
  workflow_dispatch:

jobs:
  test:
    strategy:
      matrix:
        os: [windows, macos, ubuntu]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      #- name: Trick Renovate
      #  id: trick
      #  shell: bash
      #  run: |
      #    # Idea: the regex matcher of Renovate keeps this string up to date automatically
      #    # The version is extracted and used to access the correct version of the scripts
      #    USES=$(cat <<TRICK_RENOVATE
      #    - uses: DanySK/Template-for-Gradle-Plugins@3d6625653b9224337bca9ce3ea5c014700813290
      #    TRICK_RENOVATE
      #    )
      #    echo "Scripts update line: \"$USES\""
      #    echo "Computed version: \"${USES#*@}\""
      #    echo "::set-output name=version::${USES#*@}"
      #- name: Setup upterm session
      #  uses: lhotari/action-upterm@v1
      #  with:
      #    limit-access-to-actor: true
      #    limit-access-to-users: cric96
      #- name: Build action
      #  run: npm install
      - name: Test action
        uses: ./
        with:
          root-folder: "exampleSite/build"
          config-file: "exampleSite/config.toml"

  release:
    if: github.event_name == 'push'
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.0.2
      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm install
          npx semantic-release
          
